/* Write your CSS here */
.c1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c2 {
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 0.2);
  border-color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.h1 {
  color: #0b69ff;
  font-weight: bold;
  font-size: 40px;
}
.p1 {
  color: #333333;
}
.btn1 {
  background-color: #0b69ff;
  color: #ffffff;
  height: 30px;
  border-width: 0px;
  border-radius: 12px;
  width: 120px;
  font-weight: bold;
}
